
.banner-1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    display: block;
    min-height: 300px;
    border-radius: 4px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    transition: .3s all ease;
    position: relative;
    top: 0;
  }
  
  .banner-1:hover {
    top: -10px;
    text-decoration: none;
    box-shadow: 2px 2px 10px black;
  }
  
  .banner-1 .banner-1-inner {
    width: 50%;
  }
  
  .banner-1 .banner-1-inner h2 {
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .banner-1 .banner-1-inner p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
  }