.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.site-blocks-cover, .site-blocks-cover> .container> .row {
    min-height: 700px;
    height: calc(100vh);
}

.site-blocks-cover.inner-page,
.site-blocks-cover.inner-page .row {
    min-height: 400px;
    height: 600px;
}

.site-blocks-cover  h2 {
    font-size: 125%;
    font-weight: normal;
    color: #000;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.site-blocks-cover .text-center h1 {
    font-size: 400%;
    font-weight: 900;
    color: #000;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.site-blocks-cover p {
    color: #000;
    font-size: 150%;
    font-weight: 500;
    line-height: 150%;
}


.site-blocks-cover.inner-page .site-block-cover-content {
    margin-top: 20%;
    text-align: center;
}

.site-blocks-cover .sub-title {
    color: #fff;
}

@media (min-width: 768px) {
    .site-blocks-cover h1 {
        font-size: 70px;
    }
    .site-blocks-cover.inner-page .site-block-cover-content {
        margin-top: 30%;
    }
}

@media (max-width: 991.98px) {
    .site-blocks-cover .featured-hero-product {
        margin-top: 10%;
        position: absolute;
    }
    .site-blocks-cover .img-1 {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
