.modal-login {
    width: 22%;
}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-login .close {
    position: absolute;
    top: -10px;
    right: -10px;
}
.modal-login h4 {
    color: #000;
    text-align: center;
    font-size: 2em;
    margin-top: 1%;
}
.modal-login .modal-content {
    color: #999;
    border-radius: 10%;
    margin-bottom: 15px;
    background: #fff;
    border: 3px solid #ccc;
    box-shadow: 14px 14px 14px 14px rgba(0, 0, 0, 0.75);
    padding: 35px;
}
.modal-login .form-group {
    margin-bottom: 30px;
}
.modal-login label {
    font-weight: normal;
    font-size: 15px;
}
.modal-login .form-control {
    min-height: 38px;
    padding-left: 5px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    border-radius: 0;
}
.modal-login .form-control:focus {
    border-color: #ccc;
}
.modal-login .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
    border-radius: 0;
}
.modal-login .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}

.modal-login .btn:hover, .modal-login .btn:focus {
    background: #179b81;
}
.modal-login .fa {
    font-size: 21px;
}