/*==================== Global =====================*/
* {
    box-sizing: border-box;
}

/*==================== Global =====================*/
.site-section {
    padding: 2.5em 0;
    margin: 2.5em 0;
}
